
/* MARK HEADER */
.navigation-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: min-content;
}
.navigation{
    display: flex;
    gap: 20px;
}

.navigation > a {
    text-decoration: none;
}

.title-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MARK MAIN */

#main-section{
    display: flex;
    flex-direction: row;
}
.review{
    flex-basis: 25%;
    flex-grow: 0;

}
.review img{
    max-width: 100%;
    max-height:100%;
}
.contact-us{
    flex-basis: 40;
    flex-grow: 0;
    background-color: beige;
    border-radius: 4px;
}
